<div id="userTemplate">
   <%= render partial: "shared/single_user", locals: { user: @user } %>
   <div id="bio">
      <h3>Bio</h3>
      <p><%= @user.bio %></p>
   </div>
 
<% @posts.each do |post| %>
     <%= render partial: "shared/single_post", locals: { user: @user, post: post } %>
<% end %>

        
         <div id="buttons">
         <%= button_to 'See All Posts', user_posts_path(@user), method: :get %>
         <%= button_to "Add New Post", new_user_post_path(@user), method: :get%>
     </div>
</div>

