<div id="postTemplate">
    <div id="singlePost">
        <div id="postHeader">
                <h3 class="post_title">Post # <%= @post.id %> by <%= @post.id %> </h3>
                <label class="counters">Comments:<%= @post.comments_counter %> Likes:<%= @post.likes_counter %> </label>
        </div>  
        <p><%= @post.text %></p>
    </div>
    <%= render partial: "shared/collection_comments", locals: { post: @post, user: @user } %>    
</div>