<div id="postTemplate">
    <div id="singlePost">
        <div id="postHeader">
                <h3 class="post_title">Post # <%= @post.id %> by <%= @user.name %> </h3>
                <label class="counters">Comments:<%= @post.comments_counter %> Likes:<%= @post.likes_counter %> </label>
        </div>  
        <p><%= @post.title %></p>
        <p><%= @post.text %></p>
    </div>
    <div id="commentsSection">
                <% @comments.each do |comment| %>
                <%= render partial: "shared/single_comment", locals: { comment: comment } %>
                <% end %>
     </div>
     <div id="buttons">
     <%= button_to "Add Likes", user_post_likes_path(@user, @post), params: { like: { user_id: @user.id, id: @post.id}}%>
     <%= button_to "Add Comments", new_user_post_comment_path(@user, @post), params: { id: @user.id, post_id: @post.id}, method: :get%>
     </div>
</div>
