<div id="postTemplate">
    <div id="singlePost">
        <div id="postHeader">
                <h3 class="post_title">Post # <%= @post.id %> by <%= @user.name %> </h3>
                <label class="counters">Comments:<%= @post.comments_counter %> Likes:<%= @post.likes_counter %> </label>
        </div>  
        <p><%= @post.text %></p>
    </div>
    <div id="formComment" >
        <%= form_with model: Comment.new, url: { action: "createcomment" } , method: :post do |f| %>
        <%= f.label :text %><br>
        <%= f.text_field :text %><br>
        <%= f.submit "Create Comment" %>
        <% end %>  
   </div>
    <div id="commentsSection">
                <% @comments.each do |comment| %>
                <%= render partial: "shared/single_comment", locals: { comment: comment } %>
                <% end %>
     </div>
</div>
